.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cardWrapper {
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-family: Roboto, sans-serif;
  width: calc(100%/3);

  p {
    font: 100 0.7em 'Helvetica';
    padding: 10px 0;
    color: rgb(0, 0, 0);
    height: 50px;
    max-height: 50px;
    overflow: auto;
    margin-bottom: 10px;
  }

  span {
    font: 100 0.5em 'Helvetica';
  }

  button {
    --color: rgba(255, 58, 58, 0.7);
    --border: 1px;
    --slant: 0.5em;

    font: 100 0.7em 'Helvetica';
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    color: var(--color);
    background-size: calc(var(--slant)) calc(1.3*var(--border));
    background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) linear-gradient(to top right, var(--color) 50%, #0000 50.1%) no-repeat top right bottom left;
    box-shadow:
      0 0 0 200px inset var(--s, #0000),
      0 0 0 var(--border) inset var(--color);
    transition: color var(--t, 0.3s), background-size 0.3s;
    width: 100%;
    border-radius: 4px;
  }

  button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }

  button:hover,
  button:active {
    background-size: 100% 100%;
    color: black;
    --t: 0.2s 0.1s;
  }

  button:active {
    --s: #0005;
    transition: none;
  }

  &:hover {
    transition: all 0.5s;
    box-shadow: 0px 10px 25px 2px rgba(82, 140, 255, 0.7);
  }
}

.image {
  width: 100%;

  img {
    width: 100%;
    border-radius: 4px;
  }
}
